{% extends 'base.html' %}
{% load static %}
{% block posts_active %}active{% endblock %}


{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                            <li class="active">Posts</li>
                        </ul>
                        <h2>Posts</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                <div class="span12">
                    {% for post in projects %}
                    <article>
                        <div class="row">

                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="#">{{ post.title }}</a></h3>
                                    </div>
                                    <img src={{post.featured_image}} alt=""/>
                                </div>

                            </div>
                            <div class="span4">
                                <div class="meta-post">
                                    <ul>
                                        <li><i class="icon-file"></i></li>
                                        <li>By <a href="#" class="author">{{post.owner.name}}</a></li>
                                        <li>On <a href="#" class="date">{{ post.created}}</a></li>
                                    </ul>
                                </div>
                                <div class="post-entry">
                                    <p>
                                        {{ post.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}