{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Your page description here"/>
    <meta name="author" content=""/>

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/camera.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    <!-- Theme skin -->
    <link href="{% static 'color/default.css' %}" rel="stylesheet"/>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}"/>
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}"/>

    <!-- =======================================================
      Theme Name: Eterna
      Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="container">


            <div class="row flex-active">
                <div class="span4">
                    <div class="logo" style=" align-items: center">
                        <a href="/"><img src="{% static 'img/logo.png' %}" alt="" width="50%"
                                         style="margin-top: 10px;position: relative;left: -150px;bottom: -40px;"/></a>
                    </div>
                </div>
                <div class="span12">
                    <div class="navbar navbar-static-top">
                        <div class="navigation" style="height: 20px">
                            <nav>
                                <ul class="nav topnav">
                                    <li class=" {% block home_active %}{% endblock %}">
                                        <a href="/"><i class="icon-home">Home</i></a>
                                    </li>
                                    <li class="{% block posts_active %}{% endblock %}">
                                        <a href="/projects">Posts </a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="{% block account_active %}{% endblock %}">
                                        <a href="/account">Account </a>
                                    </li>
                                    {% endif %}
                                    <li class="{% block people_active %}{% endblock %}">
                                        <a href="/">Bloggers </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    {% block content %}
    {% endblock %}

    <!-- javascript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/toucheffects.js' %}"></script>
    <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'js/camera/camera.js' %}"></script>
    <script src="{% static 'js/camera/setting.js' %}"></script>

    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
    <script src="{% static 'js/portfolio/setting.js' %}"></script>

    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/inview.js' %}"></script>

    <!-- Template Custom JavaScript File -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
